<%- include('partials/head', {title: 'Secret Page'}) %>

<body class="bg-gray-100">
  <div class="flex flex-col h-screen">
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
          Secret Page
        </h1>
      </div>
    </header>
    <main class="flex-grow">
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" action="/user/secret" method="POST">
            <%# Add password input here %>
            <label
              for="password"
              class="block text-sm font-medium text-gray-700"
              >Password</label
            >
            <div class="mt-1">
              <input
                type="password"
                name="password"
                id="password"
                autocomplete="current-password"
                required
                class="block w-full px-3 py-2 border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              />
            </div>
            <%- include("partials/text-input", { label: 'Secret Text', id:
            'secret', name: 'secret', placeholder: 'Enter your secret text',
            required: true, }) %> <%- include('partials/submit-button',
            {buttonText: 'Save'}) %>
          </form>
          <div class="mt-10">
            <a
              href="/dashboard"
              class="text-indigo-600 hover:text-indigo-500 font-semibold"
            >
              Go back to Dashboard
            </a>
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-white shadow">
      <%- include("partials/logout-button") %>
    </footer>
  </div>

  <script>
    async function logout() {
      const refreshToken = localStorage.getItem('refreshToken');
      const response = await fetch('/auth/logout', {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ refreshToken }),
      });
      if (response.status === 204) {
        localStorage.removeItem('accessToken');
        localStorage.removeItem('refreshToken');
        window.location.href = '/';
      }
    }
  </script>
</body>
